<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
    <!-- Logo -->
    <a ui-sref="dashboard" class="al-logo clearfix">Corazón Quindío</a>
    <!-- Menu -->
    <a href class="collapse-menu-link ion-navicon visible-xs-block" ng-click="isMenuCollapsed=!isMenuCollapsed"></a>
    <nav class="col-lg-6 col-md-8 col-sm-6 hidden-xs">
        <ul>
            <li ng-repeat="(key, menuitem) in menu">
                <a href="{{ menuitem.root }}" ng-class="{ 'active': menuitem.active}">{{ menuitem.title }}</a>
            </li>
        </ul>
    </nav>
</div>
