<div ba-panel ba-panel-class="profile-page">
  <div class="panel-content">

    <div class="row">
      <div class="col-md-6">
          <h3 class="with-line">General Information</h3>

          <div class="col-lg-4">
              <div class="form-group row">
                  <div class="col-sm-9">
                      <div class="userpic">
                          <div class="userpic-wrapper">
                              <img ng-src="{{ user.picture }}">
                          </div>
                          <i class="ion-ios-close-outline" ng-if="!noPicture"></i>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-8">
              <div class="form-group row clearfix">
                  <label for="inputFirstName" class="col-sm-3 control-label">Name</label>

                  <div class="col-sm-9">
                      <input type="text" class="form-control" id="inputFirstName" placeholder="" ng-model="user.name">
                  </div>
              </div>
              <div class="form-group row clearfix">
                  <label for="inputEmail3" class="col-sm-3 control-label">Email</label>

                  <div class="col-sm-9">
                      <input type="email" class="form-control" id="inputEmail3" placeholder="" ng-model="user.email">
                  </div>
              </div>

              <div class="form-group row clearfix">
                  <label for="inputOccupation" class="col-sm-3 control-label">Occupation</label>

                  <div class="col-sm-9">
                      <input type="text" class="form-control" id="l" placeholder="" ng-model="user.occupation">
                  </div>
              </div>
          </div>
          <div class="clearfix"></div>
          <h3 class="with-line">Change Password</h3>
          <div class="clearfix"></div>
          <div class="form-group row clearfix">
              <label for="inputPassword" class="col-sm-3 control-label">Password</label>

              <div class="col-sm-9">
                  <input type="password" class="form-control" id="inputPassword" placeholder="" ng-model="user.password">
              </div>
          </div>


          <!--<div class="form-group row clearfix">
              <label for="inputConfirmPassword" class="col-sm-3 control-label">Confirm Password</label>

              <div class="col-sm-9">
                  <input type="password" class="form-control" id="inputConfirmPassword" placeholder="" ng-model="user.passwordConfirm">
              </div>
          </div>-->

          <button type="button" class="btn btn-primary btn-with-icon save-profile" ng-click="updateProfile()">
              <i class="ion-android-checkmark-circle"></i>Update Profile
          </button>
      </div>
        <div class="row">
            <div class="col-md-6">
                <h3 class="with-line">Account Settings</h3>
                <div class="form-group row clearfix">
                    <label class="col-sm-3 control-label">Main Goal Type</label>

                    <div class="col-sm-9">
                        <select class="form-control" ng-model="settings.goalField">
                            <option value="conversions">Conversions</option>
                            <option value="new_users">New Users</option>
                            <option value="users">Users</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row clearfix">
                    <label for="currency" class="col-sm-3 control-label">Currency</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="currency" placeholder="" ng-model="settings.currency">
                    </div>
                </div>

                <div class="form-group row clearfix">
                    <label for="goalrevenue" class="col-sm-3 control-label">Desired avg Cost per Goal:</label>

                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="goalrevenue" placeholder="" ng-model="settings.goalRevenue">
                    </div>
                </div>

                <div class="form-group row clearfix">
                    <label for="goallimit" class="col-sm-3 control-label">Limit avg Cost per Goal for Budget Efficiency:</label>

                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="goallimit" placeholder="" ng-model="settings.goalLimit">
                    </div>
                </div>

                <button type="button" class="btn btn-primary btn-with-icon save-profile" ng-click="updateSettings()">
                    <i class="ion-android-checkmark-circle"></i>Update Settings
                </button>
            </div>
        </div>
    </div>
  </div>
</div>
