<div id="performance_page">
    <div id="filters-bar" class="col-lg-12 white clearfix">
        <div class="col-lg-7 col-md-9">
            <div class="btn-group col-lg-8" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-default btn-lg btn-raised" ng-class="{'active': first_filter == 'network'}" ng-click="setFirstFilter('network')">
                    Network
                </button>
                <button type="button" class="btn btn-default btn-lg btn-raised" ng-class="{'active': first_filter == 'channel'}" ng-click="setFirstFilter('channel')">
                    Channel
                </button>
                <button type="button" class="btn btn-default btn-lg btn-raised" ng-class="{'active': first_filter == 'creative'}" ng-click="setFirstFilter('creative')">
                    Creative
                </button>
                <button type="button" class="btn btn-default btn-lg btn-raised" ng-class="{'active': first_filter == 'weekday'}" ng-click="setFirstFilter('weekday')">
                    Weekday
                </button>
            </div>
            <div class="dropdown col-lg-3">
                <button class="btn btn-default btn-lg dropdown-toggle btn-raised" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{ second_filter.title }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li ng-click="setSecondFilter({title: 'Combine With', filter: false})">Combine with</li>
                    <li>-----</li>
                    <li ng-click="setSecondFilter({title: 'Month', filter:'month'})">Month</li>
                    <li ng-click="setSecondFilter({title: 'Week', filter:'week'})">Week</li>
                    <li ng-click="setSecondFilter({title: 'weekday', filter:'weekday'})" ng-if="first_filter != 'weekday'">Weekday</li>
                    <li ng-click="setSecondFilter({title: 'Daypart', filter:'daypart'})">Daypart</li>
                    <li ng-click="setSecondFilter({title: 'Country', filter:'country'})">Country</li>
                    <li ng-click="setSecondFilter({title: 'Region', filter:'region'})">Region</li>
                    <li ng-click="setSecondFilter({title: 'City', filter:'city'})">City</li>
                    <li ng-click="setSecondFilter({title: 'Medium', filter:'medium'})">Medium</li>
                    <li ng-click="setSecondFilter({title: 'Device', filter:'device'})">Device</li>
                    <li ng-click="setSecondFilter({title: 'Network', filter:'network'})" ng-if="first_filter != 'network'">Network</li>
                    <li ng-click="setSecondFilter({title: 'Channel', filter:'channel'})" ng-if="first_filter != 'channel'">Channel</li>
                    <li ng-click="setSecondFilter({title: 'Creative', filter:'creative'})" ng-if="first_filter != 'creative'">Creative</li>
                    <li ng-click="setSecondFilter({title: 'Program', filter:'program'})">Program</li>
                    <li ng-click="setSecondFilter({title: 'Place in break', filter:'place_in_break'})">Place in break</li>
                    <li ng-click="setSecondFilter({title: 'Center vs end', filter:'center_vs_end'})">Center vs end</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-5 pull-right">
            <div class="btn-group col-lg-12" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-default btn-lg btn-raised" ng-class="{'active': third_filter == 'users'}" ng-click="setThirdFilter('users')">Returning Visitors</button>
                <button type="button" class="btn btn-default btn-lg btn-raised" ng-class="{'active': third_filter == 'new_users'}" ng-click="setThirdFilter('new_users')">New Visitors</button>
                <button type="button" class="btn btn-default btn-lg btn-raised" ng-class="{'active': third_filter == 'conversions'}" ng-click="setThirdFilter('conversions')">Conversions</button>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div linear-chart id="treemap_chart" class="col-lg-12"></div>
    </div>
    <div class="col-lg-6 white">
        <div id="barChart" class="admin-chart"></div>    
    </div>
    <div class="clearfix"></div>
    <br>
    <br>
    <div class="col-lg-6 white">
        <div class="col-lg-4 metrics_performance">
            <i class="fa fa-money col-lg-3 col-md-3 col-sm-3 col-xs-3 circle purple" aria-hidden="true"></i>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                {{ total_results.budget | currency : '€' : 2}}
                <p class="small-text">Budget</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 white">
        <div class="col-lg-4 metrics_performance">
            <i class="fa fa-user col-lg-3 col-md-3 col-sm-3 col-xs-3 circle purple" aria-hidden="true"></i>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                {{ total_results[third_filter] | currency : '' : 0}}
                <p class="small-text">{{ third_filter_text }}</p>
            </div>
        </div>
        <div class="col-lg-4 metrics_performance">
            <i class="fa fa-user-plus col-lg-3 col-md-3 col-sm-3 col-xs-3 circle blue" aria-hidden="true"></i>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                {{ total_results[fourth_filter] | currency : '€' : 1}}
                <p class="small-text">{{ fourth_filter_text }}</p>
            </div>
        </div>
        <div class="col-lg-4 metrics_performance">
            <i class="fa fa-eur col-lg-3 col-md-3 col-sm-3 col-xs-3 circle orange" aria-hidden="true"></i>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                {{ total_results.revenue | currency : '€' : 2}}
                <p class="small-text">Revenue</p>
            </div>
        </div>
    </div>
</div>