<div id="dashbaord_page">
    <!-- Metrics -->
    <div class="col-lg-3">
        <div class="col-md-4 col-lg-12 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body metrics blue">
                    <i class="fa fa-line-chart col-lg-3 col-md-3 col-sm-3 col-xs-3" aria-hidden="true"></i>
                    <div class="col-lg-7 col-md-8 col-sm-9 col-xs-9">
                        {{ pacientes_totales }}
                        <p class="small-text">Pacientes Totales</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-12 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body metrics orange"><i class="fa fa-user col-lg-3 col-md-3 col-sm-3 col-xs-3" aria-hidden="true"></i>
                    <div class="col-lg-7 col-md-8 col-sm-9 col-xs-9">
                        {{ pacientes_riesgo}}
                        <p class="small-text">Pacientes en Riesgo</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-12 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body metrics turquoise">
                    <i class="fa fa-users col-lg-3 col-md-3 col-sm-3 col-xs-3" aria-hidden="true"></i>
                    <div class="col-lg-7 col-md-8 col-sm-9 col-xs-9">
                        {{ pacientes_sin_riesgo }}
                        <p class="small-text">Pacientes sin Riesgo</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- Daily Revenue Bar Chart -->
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div ng-show="pacientes_riesgo == 0">
            <h2>No hay pacientes en riesgo, no se peude calcular la gráfica</h2>
        </div>
        <div id="barChart" class="admin-chart"></div>
    </div>
    <!-- Acciones -->
    <div class="col-lg-3 col-md-6 col-sm-6">
        <h2>Acciones:</h2><br>
        <p>
            Ingresa una nueva visita a un Paciente Existente
        </p>
        <button type="button" class="btn btn-primary btn-block">Ingresar Nueva Visita</button>
        <br>
        <p>
            Registrar un nuevo Paciente
        </p>
        <button type="button" class="btn btn-primary btn-block">Ingresar Nuevo Paciente</button>
        <br>
        <p>
            Realizar una actualización del riesgo de todos los pacientes existentes en el sistema
        </p>
        <button type="button" class="btn btn-primary btn-block" ng-click="calcularRiesgoTotal()">Recalcular Riesgo para Todos los Pacientes</button>
    </div>
    <div class="clearfix">
    </div>
    <br>
    <div class="row">
        <div id="map-container" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 panel panel-default white">
            <div class="xe-widget xe-map-stats">
                <div class="col-lg-8" id="map-wrapper">
                    <leaflet defaults="defaults" lf-center="center" markers-watch-options="markersWatchOptions"></leaflet>
                    <div class="clearfix"></div>
                </div>
                <div class="col-lg-4 panel panel-default white" id="map-top-destinations" ng-scrollbars ng-scrollbars-config="scrollbarConfig">
                    <div class="xe-label">
                        <h2>Principales Zonas</h2>
                    </div>
                    <table class="table table-condensed">
                        <tbody>
                            <!-- ngRepeat: item in peopleTableData -->
                            <tr ng-repeat="(key, dest) in citiesList">
                                <td class="table-id">{{dest.city}}</td>
                                <td>{{ dest.visit_count | currency : '' : 0}}</td>
                            </tr>
                            <!-- end ngRepeat: item in peopleTableData -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="clearfix visible-xs-block">
            <br>
            <br>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-default" id="recent_insights_panel">
                <h2>Últimas Alertas</h2>
                <div class="panel-body">
                    <ul style="font-size: 1.3em">
                        <li class="mt-10 mb-15" ng-repeat="(key, alerta) in alertas">
                            <p>{{ alerta }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
